# OpenAI configuration
OPENAI_BASE_URL="https://web-tech.tw/recv/openai/v1"
OPENAI_API_KEY="nymph zr3Pjc68z4bOtw=="
OPENAI_CHAT_MODEL="auto"
SYSTEM_PROMPT="You're Yuri, an Agentic Assistant."

# Discord configuration
DISCORD_APP_ID="00000"
DISCORD_BOT_TOKEN="your_discord_bot_token"
DISCORD_BOT_OWNER_ID="your_discord_user_id"
